<h1 class="jewellery-item-heading">Bracelets</h1>
<div class="card-container">
  <% @bracelets.each do |bracelet| %>
    <div class="jewellery-card">
      <%= image_tag bracelet.image if bracelet.image.attached? %>
        <div class="jewellery-card-content">
          <h3><%= bracelet.name %></h3>
          <p><%= number_to_currency(bracelet.price) %></p>
        </div>
          <% if user_signed_in? && current_user.admin? %>
            <%= link_to "Edit", edit_bracelet_path(bracelet) %>
            <%= link_to "Delete", bracelet_path(bracelet), method: :delete, data: { confirm: "Are you sure you want to delete this item?" } %>
          <% end %>
    </div>
  <% end %>
</div>
